{% extends 'main/base.html' %}

{% block title %}
Pro
{% endblock %}

{% load static %}

{% block body %}
    <!--h1>Этот блок тоже уже готов</h1-->
    <!--p>Сюда помести вырезку из шаблона с дорогой и описанием проекта</p-->
    <div class="titles">
        <h1>
    	    Кукусики! :)
        </h1>
  		<p class="servis">
   			С нашим чудесным сервисом тебе<br>больше не придется скучать в дороге!<br>
       		Ты можешь посмотреть фильм, почитать<br>книгу или глянуть свежие новости.<br>
			Будет здорово, если ты оставишь отзыв,<br>чтобы мы могли сделать сервис лучше!<br>
			P.S.: Можешь написать название<br>книги или фильма в отзыв<br>и мы постараемся добавить это. 
		</p>
	</div>
{% endblock %}
