{% extends 'main/base.html' %}

{% block title %}
Video
{% endblock %}

{% load static %}

{% block body %}
    <!--h1>Это уже готовый блок</h1-->
    <!--p>Сюда помести вырезку из шаблона с кучей кнопочек</p-->
	<div class="lin clearfix">
		<div class="cont">
			<img src={% static "img/prev1.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Miley Cyrus <br/> - <br/> Unholy</h3>
				<p>Жанр: музыка</p>
			</div>
			<a class="button" href="/vidos">Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev2.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Почему началась Великая депрессия?</h3>
				<p>Жанр: знания</p>
			</div>
			<a class="button" href={% static "video/vid2.mp4" %}>Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Шрек и Осёл против коронавируса</h3>
				<p>Жанр: юмор</p>
			</div>
			<a class="button" href={% static "video/vid3.mp4" %}>Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev4.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Ядерная <br/> тревога <br/> в Москве</h3>
				<p>Жанр: драма</p>
			</div>
			<a class="button" href={% static "video/vid4.mp4" %}>Смотреть</a>
		</div>
	</div>
	<div class="lin clearfix">
		<div class="cont">
			<img src={% static "img/prev5.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>LOUNA - Из этих стен</h3>
				<p>Жанр: музыка</p>
			</div>
			<a class="button" href={% static "video/vid5.mp4" %}>Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev6.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Что такое "Zero day"?</h3>
				<p>Жанр: знания</p>
			</div>
			<a class="button" href={% static "video/vid6.mp4" %}>Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev7.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Девочка из психушки</h3>
				<p>Жанр: юмор</p>
			</div>
			<a class="button" href={% static "video/vid7.mp4" %}>Смотреть</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev8.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Масяня.Высокие отношения</h3>
				<p>Жанр: юмор</p>
			</div>
			<a class="button" href={% static "video/vid8.mp4" %}>Смотреть</a>
		</div>
	</div>
{% endblock %}
