{% extends 'main/base.html' %}

{% block title %}
Video
{% endblock %}

{% load static %}

{% block body %}
    <!--h1>Это уже готовый блок</h1-->
    <!--p>Сюда помести вырезку из шаблона с кучей кнопочек</p-->
	<div class="lin clearfix">
		<div class="cont">
			<img src={% static "img/prev1.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href={% static "video/vid1.mp4" %}>Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
	</div>
	<div class="lin clearfix">
		<div class="cont">
			<img src={% static "img/prev2.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
		<div class="cont">
			<img src={% static "img/prev3.jpg" %} alt="Video" class="prev">
			<div class="contik">
				<h3>Название</h3>
				<p>Жанр: ужасы</p>
			</div>
			<a class="button" href="#">Кнопка</a>
		</div>
	</div>
{% endblock %}
